.ipynb_checkpoints
Serial_Killers/data/UCR65_22b.csv
Serial_Killers/data/SHR65_22.csv
Serial_Killers/data/UCR65_22b.csv/ml_data
Serial_Killers/data/HowToForMAP2018.pdf
Serial_Killers/data/MAPdefinitionsSHR.pdf